In [8]:
from pylibs import pandas_utils
from pathlib import Path
import analysis
from collections import Counter
import pandas as pd

In [39]:
dataset_dir_path = Path("../dataset/dataframes")
df_name = 'data'
# df_name = 'imgs_indices'
df_name = 'train_set'
# df_name = 'val_set'

# df_name = '%s.csv' % df_name
df_name = pandas_utils.DF_FILE_FORMAT % df_name
df_path = dataset_dir_path / df_name

df = pandas_utils.read_dataframe(df_path)
# df = pandas_utils.pd.read_csv(df_path)

In [40]:
len(df.index), len(df.index.drop_duplicates()), len(df.drop_duplicates())

(33233, 33233, 33233)

In [41]:
df.head()

                            label   text  array_ind              char_freq
num
17628  [9,4,7,8,5,10,10,10,10,10]  94785      17620  [0,0,0,0,1,1,0,1,1,1]
24273  [5,5,6,9,7,10,10,10,10,10]  55697      24267  [0,0,0,0,0,2,1,1,0,1]
22375  [8,5,1,4,7,10,10,10,10,10]  85147      22369  [0,1,0,0,1,1,0,1,1,0]
38385  [6,1,1,4,9,10,10,10,10,10]  61149      38377  [0,2,0,0,1,0,1,0,0,1]
19425  [0,0,9,7,4,10,10,10,10,10]  00974      19417  [2,0,0,0,1,0,0,1,0,1]

In [17]:
df.loc[df.index==9929]

                           label   text  array_ind
num
9929  [4,7,3,5,9,10,10,10,10,10]  47359       9926

In [5]:
[row for row in df.iterrows() if len(row[1]['text']) != 5]

[]

In [6]:
chars = Counter()
for x in df.text:
    for y in x:
        chars[y] += 1
print(chars)

Counter({'1': 19748, '9': 19683, '7': 19651, '4': 19640, '3': 19574, '6': 19551, '0': 19495, '8': 19435, '2': 19377, '5': 19336})

In [3]:
dataset_dir_path = Path("../dataset")
df_name = 'data2'
img_dir = 'imgs'
h = 32
hs, ws = analysis.shape_analysis(dataset_dir_path, df_name, img_dir)
print(set(hs), set(ws))

HBox(children=(FloatProgress(value=0.0, max=39098.0), HTML(value='')))